<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Submit your restaurant</h1>
      <%= render 'form', meal_provider: @meal_provider %>
    </div>
  </div>
</div>


