.bannerBtnMax {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
}

#buttonMax {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
