.bannerMeal {
  color: white;
  text-align: center;
  height: calc(100vh - 130px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerUnderMeal {
  background-color: #008361;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  height: 90px;
  position: fixed;
  bottom: 0;
  width: 100%;

}
.bannerMeal h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.bannerMeal p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
.bannerMeal-description {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.6;
  position: absolute;
  bottom: -18px;
  left: 37px;
}
.bannerMeal-category {
  font-size: 25px;
  font-weight: normal;
  color: black;
  opacity: 0.6;
  position: absolute;
  bottom: 18px;
  left: 37px;
}
.btn {
  margin-top: 14px;
  opacity: 1;
  align-items: center;
}

.banner-provider{
  background-color: #008361;
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    color: white;
    font-size: 22px;
  }
}

.banner-button{
  display: flex;
  justify-content: space-around;
}
